.blogLogoIcon,
.separator {
  position: relative;
  flex-shrink: 0;
}
.separator {
  align-self: stretch;
  border-top: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  height: 1px;
}
.blogLogoIcon {
  border-radius: var(--br-sm);
  width: 44px;
  height: 44px;
  object-fit: cover;
}
.thelaunchblog,
.yourNo1 {
  position: relative;
  letter-spacing: -0.24px;
}
.thelaunchblog {
  line-height: 27px;
  font-weight: 600;
}
.yourNo1 {
  font-size: var(--font-size-base);
  line-height: 24px;
  font-family: var(--font-sf-pro-display);
  color: var(--color-gray-100);
}
.button,
.input {
  border: 1px solid var(--color-chocolate-100);
  font-family: var(--font-roboto);
}
.input {
  font-size: var(--font-size-base);
  background-color: var(--color-oldlace-100);
  flex: 1;
  border-radius: var(--br-sm) 0 0 var(--br-sm);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xl) var(--padding-8xs) var(--padding-xl)
    var(--padding-7xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.button {
  background-color: var(--color-chocolate-100);
  font-weight: 500;
  font-size: var(--font-size-sm);
  border-radius: 0 var(--br-sm) var(--br-sm) 0;
  padding: var(--padding-sm) var(--padding-3xs) var(--padding-lg)
    var(--padding-2xs);
}
.button,
.form,
.rightHeader,
.subscribeForm {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.form {
  flex: 1;
}
.rightHeader,
.subscribeForm {
  align-self: stretch;
  padding: 0 var(--padding-16xs);
}
.rightHeader {
  flex-direction: column;
  padding: var(--padding-6xl) 0 0;
  gap: var(--gap-5xl);
}
.thelaunchblogAcrossThe {
  flex: 1;
  position: relative;
  letter-spacing: -0.24px;
  line-height: 24px;
}
.title,
.titleParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.title {
  width: 348px;
  flex-direction: row;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
}
.titleParent {
  align-self: stretch;
  flex-direction: column;
  font-family: var(--font-lora);
}
.wereOnInstagram {
  position: relative;
  letter-spacing: -0.24px;
  line-height: 21px;
}
.mentionsSection {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-4xl);
}
.allpostsRight,
.mentionsSection,
.otherResources {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.otherResources {
  align-self: stretch;
  padding: var(--padding-16xl) 0 var(--padding-md);
  align-items: center;
  font-size: var(--font-size-base);
  font-family: var(--font-sf-pro-display);
}
.allpostsRight {
  width: 348px;
  flex-shrink: 0;
  align-items: flex-start;
  gap: var(--gap-2xs);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray-200);
  font-family: var(--font-lora);
}
@media screen and (max-width: 1200px) {
  .allpostsRight {
    display: none;
  }
}
